.formProducts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formProducts__options {
	display: flex;
	justify-content: center;
}

.formProducts__options p {
	margin-right: 10px !important;
}