.form__input {
	display: flex;
	justify-content: center;
}

#username, #pass {
  height: 40px;
  border-radius: 10px;
	width: 400px;
	max-width: 400px;
}

#remember {
  margin-right: 10px;
}

.form__login {
	margin-top: 20px;
  width: 100px;
  height:30px;
}