/* Import index styles */
@import "index.css";
@import "panel.css";
@import "status_box.css";

/* Change color line */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #ef5350 !important;
	box-shadow: 0 1px 0 0 #ef5350 !important;
}

/* Change color line */
.input-field input[type=tel]:focus {
	border-bottom: 1px solid #ef5350 !important;
	box-shadow: 0 1px 0 0 #ef5350 !important;
}

/* Change color line */
.input-field input[type=password]:focus {
	border-bottom: 1px solid #ef5350 !important;
	box-shadow: 0 1px 0 0 #ef5350 !important;
}

/* Change color line */
.input-field input[type=number]:focus {
	border-bottom: 1px solid #ef5350 !important;
	box-shadow: 0 1px 0 0 #ef5350 !important;
}


/* Change color label */
.input-field input[type=text]:focus + label {
	color: #ef5350 !important;
}

.input-field input[type=tel]:focus + label {
	color: #ef5350 !important;
}

.input-field input[type=password]:focus + label {
	color: #ef5350 !important;
}

/* Change color label */
.input-field input[type=number]:focus + label {
	color: #ef5350 !important;
}

/* Change color text select */
.dropdown-content li>a, .dropdown-content li>span {
	color: #ef5350 !important;
}

/* Change color text select disable */
.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
	color: rgba(0,0,0,0.3) !important;
}

/* Change color checkbox */
input[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #ef5350 !important;
  border-bottom: 2px solid #ef5350 !important;
}

/* Change color radio */
input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
	background-color: #ef5350 !important;
}

/* Change color radio */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
	border: 2px solid #ef5350 !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #ef5350 !important;
}

/* Drawer color */
.collapsible-body li.active a {
	color: rgba(0,0,0,0.87) !important;
}

.collapsible-body li.active {
	background-color: rgba(0,0,0,.05) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E5E5E5;
	font-family: Roboto;
}

main {
  padding-top: 20px;
	padding-bottom: 20px;
}

/* StatusBox */
.statusBox {
	display: flex;
	margin: 10px;
	justify-content: center;
}

.statusBox__message {
	background: #e53935;
	padding: 10px;
	background: red;
	min-width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.statusBox__close {
	cursor: pointer;
}

.error {
	background: #e53935;
}

.warning {
	background: #f9a825;
}

.success {
	background: #00897b;
}