@import 'edit_produc.css';

.panelMain {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  background: #fff;
  width: 450px;
  margin: 10px;
  border: solid 2px #808080;
  border-radius: 15px;
}

.panelTitle {
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: left;
	font-size: 25px;
	width: 100%;
	font-style: italic;
}

.boxWidthAll {
  background: #fff;
	width: 100%;
  margin: 10px;
  border: solid 2px #808080;
  border-radius: 15px;
}

.box .boxTitle, .boxWidthAll .boxTitle {
  display: block;
  margin: 20px;
  margin-bottom: 0px;
  font-size: 20px;
}

.box .boxContent, .boxWidthAll .boxContent {
  margin: 20px;
  margin-top: 15px;
}